@charset "UTF-8";
/* RESET RULES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,900&display=swap&subset=latin-ext");
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #fff;
  color: #000;
  font-family: "Lato", sans-serif;
  font-style: normal;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.header__content {
  height: 100%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5vh 0;
}

@media (min-width: 1200px) {
  .header__content {
    height: 100vh;
    position: relative;
    margin-top: 0;
    padding: 0;
  }
}

.header__content h1 {
  font-weight: bold;
  font-size: 5vmin;
  line-height: 6vmin;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 992px) {
  .header__content h1 {
    display: block;
    left: 431px;
    top: 257px;
    margin-top: 2em;
  }
}

@media (min-width: 1200px) {
  .header__content h1 {
    position: absolute;
    width: 578px;
    height: 86px;
    left: 431px;
    top: 257px;
    font-size: 72px;
    line-height: 86px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
  }
}

.header__content p {
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  font-weight: 600;
  margin: 39px;
}

@media (min-width: 1200px) {
  .header__content p {
    width: 540px;
    height: 124px;
    left: 450px;
    top: 382px;
    font-size: 24px;
    position: absolute;
    margin: 0;
  }
}

.header__content button {
  text-align: center;
  text-transform: uppercase;
  width: 160px;
  height: 50px;
  background: #ffffff;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ed4c5c;
  line-height: 150%;
}

@media (min-width: 1200px) {
  .header__content button {
    left: 640px;
    top: 545px;
    position: absolute;
  }
}

#features {
  background: #fafafa;
}

#features h2 {
  padding: 63px 0;
  color: black;
  text-align: center;
}

#features .features {
  color: #101010;
  padding-bottom: 10vh;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  #features .features {
    padding-bottom: 124px;
    width: 90vw;
  }
}

#features .feature__item {
  position: relative;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
  padding: 0 2vw;
}

@media (min-width: 1200px) {
  #features .feature__item {
    width: 350px;
    padding: 0;
  }
}

#features .feature__item .feature__item--image {
  display: block;
  height: 250px;
  margin: 0 auto;
}

#features .feature__item .feature__item--content {
  position: absolute;
  top: 44%;
  width: 293px;
  height: 198px;
  margin: auto;
  text-align: center;
  padding: 32px;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#features .feature__item .feature__item--content h3 {
  font-size: 18px;
  text-align: center;
}

#features .feature__item .feature__item--content p {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 150%;
}

#features .feature__item .feature__item--content a {
  color: #ed4c5c;
  font-weight: bold;
  font-size: 12px;
}

:root {
  --linearBackground: linear-gradient(
    90deg,
    rgba(213, 32, 71, 0.8) 0%,
    rgba(238, 61, 27, 0.8) 100%
  );
  --elementShadow: 0px 10px 26px -9px rgba(0, 0, 0, 0.75);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
button {
  color: inherit;
}

.no-transition {
  -webkit-transition: none !important;
  transition: none !important;
}

body {
  font: 1.6rem/1.5 "Lato", sans-serif;
  color: #ffffff;
  min-height: 100vh;
}

/* HEADER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
  position: relative;
  width: 100vw;
  height: 50vh;
  color: #ffffff;
  z-index: 10000;
  background-image: url(../img/Rectangle3-min.png);
  background-size: cover, cover;
  background-position: top right, top right;
  background-repeat: no-repeat, no-repeat;
}

@media (min-width: 1200px) {
  header {
    height: 100vh;
  }
}

header::after {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(rgba(213, 32, 71, 0.8)), to(rgba(238, 61, 27, 0.8)));
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.page-header {
  padding: 1rem;
  background: transparent;
  position: absolute;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* TOP MENU
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
}

@media (min-width: 992px) {
  .page-header {
    padding: 0 116px;
    height: 100px;
    top: 17px;
  }
}

.page-header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 3vmin;
  position: relative;
  width: 100%;
}

.page-header .horizontal-logo,
.page-header .page-header {
  margin: 0 1em;
}

.page-header .icon-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header .menu {
  display: none;
  margin-left: auto;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
}

.page-header .menu li {
  padding: 0 1em;
}

.page-header .top-menu-wrapper {
  color: #000000;
}

.page-header .top-menu-wrapper::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.page-header .panel,
.page-header .top-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 146;
}

.page-header .panel1 {
  width: 100%;
  background: #dd4d64;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  z-index: 100;
}

.page-header .panel2 {
  width: calc(100% - 3rem);
  background: #d52047;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  z-index: 100;
}

.page-header .top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 6rem);
  overflow-y: auto;
  padding: 2rem;
  color: #ffffff;
}

.page-header .top-menu a {
  font-size: 20px;
}

.page-header .top-menu-wrapper.show-offcanvas::before {
  background: var(--overlay);
  z-index: 1;
}

.page-header .top-menu-wrapper.show-offcanvas .panel,
.page-header .top-menu-wrapper.show-offcanvas .top-menu {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.page-header .top-menu-wrapper.show-offcanvas .panel1 {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.page-header .top-menu-wrapper.show-offcanvas .panel2 {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-box-shadow: var(--elementShadow);
          box-shadow: var(--elementShadow);
}

.page-header .top-menu-wrapper.show-offcanvas .top-menu {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 4rem 0.5rem;
          box-shadow: rgba(0, 0, 0, 0.25) 0 0 4rem 0.5rem;
}

.page-header .top-menu li + li {
  margin-top: 1.5rem;
}

.page-header .top-menu > li:last-child {
  margin-top: auto;
}

.page-header .top-menu > li:last-child ul a {
  display: inline-block;
  font-size: 1.3rem;
  text-transform: uppercase;
  -webkit-transition: color 0.35s ease-out;
  transition: color 0.35s ease-out;
}

.page-header .top-menu > li:last-child ul a:hover {
  color: var(--red);
}

.page-header .sub-menu {
  padding: 1.5rem 2rem 0;
}

.page-header .top-menu .mob-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.page-header .top-menu .mob-block img {
  max-width: 150px;
}

.page-header .top-menu .mob-block i {
  color: #ffffff;
  font-size: 2em;
}

.page-header .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.page-header .socials li + li {
  margin-top: 0;
}

.page-header .socials li + li:hover {
  cursor: pointer;
}

.page-header .socials .fa-stack {
  font-size: 1.7rem;
  color: #dd4d64;
}

.page-header .socials .fa-stack .fab {
  font-size: 1.2rem;
}
/*# sourceMappingURL=header.css.map */