@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,900&display=swap&subset=latin-ext");
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #fff;
  color: #000;
  font-family: "Lato", sans-serif;
  font-style: normal;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

h2 {
  padding: 63px 0;
  color: black;
  text-align: center;
}

h3 {
  font-size: 18px;
  text-align: center;
}

p {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 150%;
}

.header__content {
  height: 100%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5vh 0;
}

@media (min-width: 1200px) {
  .header__content {
    height: 100vh;
    position: relative;
    margin-top: 0;
    padding: 0;
  }
}

.header__content h1 {
  font-weight: bold;
  font-size: 5vmin;
  line-height: 6vmin;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 992px) {
  .header__content h1 {
    display: block;
    left: 431px;
    top: 257px;
    margin-top: 2em;
  }
}

@media (min-width: 1200px) {
  .header__content h1 {
    position: absolute;
    width: 578px;
    height: 86px;
    left: 431px;
    top: 257px;
    font-size: 72px;
    line-height: 86px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
  }
}

.header__content p {
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  font-weight: 600;
  margin: 39px;
}

@media (min-width: 1200px) {
  .header__content p {
    width: 540px;
    height: 124px;
    left: 450px;
    top: 382px;
    font-size: 24px;
    position: absolute;
    margin: 0;
  }
}

.header__content button {
  text-align: center;
  text-transform: uppercase;
  width: 160px;
  height: 50px;
  background: #ffffff;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ed4c5c;
  line-height: 150%;
}

@media (min-width: 1200px) {
  .header__content button {
    left: 640px;
    top: 545px;
    position: absolute;
  }
}

#features {
  background: #fafafa;
}

.features,
.technology {
  color: #101010;
  padding-bottom: 10vh;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .features,
  .technology {
    padding-bottom: 124px;
    width: 90vw;
  }
}

.feature__item {
  position: relative;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
  padding: 0 2vw;
}

@media (min-width: 1200px) {
  .feature__item {
    width: 350px;
    padding: 0;
  }
}

.feature__item .feature__item--image {
  display: block;
  height: 250px;
  margin: 0 auto;
}

.feature__item .feature__item--content {
  position: absolute;
  top: 44%;
  width: 293px;
  height: 198px;
  margin: auto;
  text-align: center;
  padding: 32px;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.feature__item .feature__item--content a {
  color: #ed4c5c;
  font-weight: bold;
  font-size: 12px;
}

.technology {
  color: #101010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.technology .technology__item {
  text-align: center;
  width: 50vw;
  padding: 3vw;
  height: 290px;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .technology .technology__item {
    width: 255px;
    padding: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.technology .technology__item .technology__item--image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.technology .technology__item .technology__item--image :nth-child(2) {
  position: absolute;
  top: 20%;
  width: 12%;
}

@media (min-width: 992px) {
  .technology .technology__item .technology__item--image :nth-child(2) {
    top: 26%;
    width: unset;
  }
}

.technology .technology__item .technology__item--image img {
  margin: 0 auto;
}

.technology .technology__item .technology__item--content {
  margin-top: 19px;
  padding: 0 34px 4px;
}

@media (min-width: 992px) {
  .technology .technology__item .technology__item--content {
    padding: 0;
  }
}
/*# sourceMappingURL=main.css.map */